// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html,
.body {
  background: #f3f3f3 !important;
}

.body-drip {
  border-top: 8px solid #663399;
}

.section_header {
  background-color: #efb947;
  h1 {
    color: #fefefe;
    line-height: 43px;
  }
  h2 {
    color: #bb8a31;
    font-size: 21px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
  }
  table.button table td {
    border-top: 0;
    border-left: 0;
    text-transform: uppercase;
  }
}

.section2 h2 {
  color: #0d435b;
  font-size: 31px;
  line-height: 48px;
  text-transform: uppercase;

}

.our_team {
  background-color: #0d435b;

  h2 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
  }

  li {
    color: #ffffff;
  }
  p {
    font-size: 12px;
    font-weight: 100;
    line-height: 24px;
    color: #fff;
    margin: 0;
  }
  ul {
    margin: 0px;
  }
}

table.button_section table td {
  text-align: left;
  color: #fefefe;
  background: #6db6d4;
  border: 2px solid #386477;
  border-left: none;
  border-top: none;
  text-transform: uppercase;
}

table.button_section:hover table td, table.button_section:visited table td, table.button_section:active table td {
  background: #386477;
}

.find_us {
  background: #0d435b;
  h2 {
    color: #fff;
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
  }
}

.contact_us {
  background-color: #6db6d4;
  h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }
  p {
    font-size: 13px;
    line-height: 19px;
    font-weight: 100 !important;
  }
  table.button table td {
    border-top: 0;
    border-left: 0;
    text-transform: uppercase;
    font-weight: 400;
  }
  table.button.large table a {
    font-weight: 400;
  }
  a {
    font-weight: 100;
  }
  .social {
    color: #0d435b;
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
  }
}

.icon {
  background: #6db6d4;
}

// Full Width Headers

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

@media only screen and (max-width: 600px) {
  .section_header {

    h1 {
      font-size: 22px !important;;
    }
    h2 {
      font-size: 18px !important;;
      line-height: 29px !important;;
    }

  }
  table.button.large table a {
    padding: 15px 46px 11px 46px !important;;
  }
  .section2 h2 {
    font-size: 21px !important;
  }
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}
