.section-number {
  position: absolute;
  left: 126px;
  h3 {
    color: $white;
    font-size: 96px;
  }

  hr {
    width: 8px;
    background-color: $white;
    border-color: $white;
  }
}

#fix_header_bottom {
  background: transparent;
  z-index: 9999;
}

#fix_header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  .test {
    background-color: #efb947;
    height: 107px;
  }
  .logo {
    margin-left: 16px;
  }
}

#menu {
  float: right;
  margin-bottom: 0;
  padding-top: 22px;

  li {
    display: inline-block;
    padding: 2px 20px;
    border-right: 2px solid #bb8a31;
  }
  li:last-child {
    border: none;
    padding-right: 0px;
  }
  a {
    text-transform: uppercase;
    color: #fefefe;
    font-size: 18px;
    font-weight: 400;
    line-height: 54px;
    p {
      display: inline-block;
    }
  }
  span {
    color: #fefefe;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: bottom;
  }
}

//burger menu
.hamburger, .cross  {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 19px 37px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 42px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}



.menu {
  z-index: 1000000;
  width: 100%;
  left:0;
  background: #efb947;
  position: absolute;
  text-align: center;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.menu li {
  display: block !important;
  text-transform: uppercase;
}

.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #fff;
}

.menu ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu a:hover {
  text-decoration: none;
  color: white;
}

.glyphicon-home {
  color: white;
  font-size: 1.5em;
  margin-top: 5px;
  margin: 0 auto;
}

//burger menu end
#home {
  background-color: #efb947;
  top: 107px;
  position: relative;
  h1 {
    color: #fefefe;
    font-size: 42px;
    font-weight: 400;
    line-height: 48px;
    padding-top: 100px;
  }
  h2 {
    color: #bb8a31;
    font-size: 21px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    padding-top: 21px;
  }
  .button_section {
    padding-top: 20px;
  }
  .section-number {
    top: 164px;

    hr {
      height: 494px;
      margin-top: -20px;
    }
  }
  .lap_top {
    img {
      padding-top: 100px;
    }
  }
}

#what_we_do {
  background-color: white;
  position: relative;
  h2 {
    color: #242d3d;
    font-weight: 400;
    line-height: 48px;
    padding-top: 100px;
  }
  p {
    color: #242d3d;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 60px;
  }
  hr.separator {
    height: 80px;
    width: 2px;
    background-color: #efb947;
  }
  .red_label {
    margin-top: 40px;
  }

  .tools {
    text-align: center;
    padding: 0px;
    margin-top: 80px;
    a {
      margin: 0 9px;
    }
    .tools a:first-child {
      margin-left: 0px;
    }
    .tools a:last-child {
      margin-right: 0px;
    }
    .gears {
      margin-top: 80px;
    }
  }

  .section-number {
    top: 0px;
    left: 119px;
    h3 {
      color: #efb947;
    }

    hr {
      margin: 0 auto;
      height: 196px;
      background-color: #efb947;
      border-color: #efb947;
    }
  }
}

#our_team {
  background-color: #0d435b;
  position: relative;
  h2 {
    margin-top: 100px;
    color: #fff;
    font-weight: 400;
    line-height: 48px;
  }
  p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 30px;
  }
  hr.separator {
    background-color: #c3ecfd;
    height: 80px;
    width: 2px;
    margin: 40px auto;
  }

  ul {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    line-height: 21px;
  }
  .team {
    margin-bottom: 50px;
    h3 {
      color: #fff;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 42px;
    }
    img {
      max-width: none;
    }
    .team_description {
      padding-right: 0;
      padding-left: 30px;
    }
  }
  .section-number {
    top: 0px;
    left: 119px;

    hr {
      margin: 0 auto;
      height: 196px;
    }
  }
}

#contact_us {
  position: relative;
  h2 {
    margin-top: 100px;
    color: #242d3d;
    font-weight: 400;
    line-height: 48px;
  }
  p {
    color: #242d3d;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 60px;
  }
  hr.separator {
    background-color: #0d435b;
    height: 80px;
    width: 2px;
    margin: 40px auto;
  }
  img {
    margin-bottom: 20px;
  }
  .contact {
    a, p {
      color: #0d435b;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      margin-top: 20px;
      padding-top: 0px;
      margin-bottom: 80px;
    }
  }
  #bottomContactPart #bottomRight iframe {
    width: calc(100% + 38px);
    min-height: 70vh;
    margin-left: -19px;
  }
  .section-number {
    top: 0px;
    left: 119px;
    h3 {
      color: #0d435b;
    }

    hr {
      margin: 0 auto;
      height: 196px;
      background-color: #0d435b;
      border-color: #0d435b;
    }
  }
}

footer {
  background-color: #5399b6;

  .footer_content {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .logo_footer {
    img {
      margin-bottom: 35px;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      color: $white;
    }
  }
  h4 {
    color: $white;
    font-weight: 400;
    text-transform: uppercase;
  }
  .menu_footer, .menu_footer_2 {

    a {
      font-size: 18px;
      font-weight: 300;
      color: $white;
    }
  }
  .menu_footer_2 {
    margin-top: 41px;

  }
  .social-icons {

    a {
      display: inline-block;
      padding: 1px;
    }
    i {
      display: block;
      width: 30px;
      height: 30px;
      background: url("../images/social-icons.png");
      background-repeat: no-repeat;
    }
    .twitter {
      background-position: -40px 0;
    }
    .linked-in {
      background-position: -80px 0;
    }
    .google {
      background-position: -120px 0;
    }
    .instagram {
      background-position: 0 -40px;
    }
    .pinterest {
      background-position: -40px -40px;
    }
    .dribble {
      background-position: -80px -40px;
    }
    .youtube {
      background-position: -120px -40px;
    }
  }
}


